*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.navbar{
    background: rgb(21, 138, 60);
    font-family: monospace;
    padding: 15px;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo img{
width: 150px;
}
button{
    background-color: white;
    margin-left: 10px;
    border-radius: 10px;
    padding: 10px;
    width: 90px;
}
button a{
    color: black;
    font-weight: bold;
}
.containerr{
   padding: 15px;
    font-weight: bold;
    font-size: 10px;
    width: 100%;
    height: 100vh;
   }
   .center{
    display: flex;
   }
   .diff{
    color: red;
   }
   .wrapper{
    background: transparent;
   color: #fff;
   box-shadow: 10px red;
   }
   .wrapper h1{
    font-size: 36px;
    text-align: center;
   }
   .wrapper .input-box{
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-radius: 10px;
    padding: 5px 10px;
   }
   .input-box input{
    width: 100%;
    height: 100%;
    background:  transparent;
    border: none;
    outline: none;
    border: 2px solid;
    border-radius: 40px;
    font-size: 16px;
    color: black;
    padding: 20px 45px 20px 20px;
   }
   .input-box input::placeholder{
    color: black;
   }
   .input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: black;
   }
   .wrapper .remember-password{
    display: flex;
    justify-content:space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
    color: black;
   }
   .remember-password label input{
    accent-color: black;
    margin-right: 3px;
    color: black;
   }
   .remember-password a{
    color: black;
    text-decoration: none;
   }
   .wrapper .btn{
    width: 96%;
    height: 40px;
    background: #fff;
    color: black;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px blue;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
   }
   .lin a{
    font-size: larger;
    color: black;
    font-style: italic;
    font-family: monospace;
    font-weight: bold;
    text-align: center;
   }
   .lin a:hover{
    background-color: red;
   }

   .site-container{
    margin: 2rem;
    /* max-width: calc(50% - 40px); */
   }
   .article-card{
    background: white;
    border-radius: 5px;
    transition: 0.3s;
   }
   .article-content .card-cartegory{
    font-size: 0.875rem;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 600;
    color: green;
    display: block;
    text-decoration: none;
   }
   .article-content .card-title{
    margin: 1rem 0;
    font-size: 16px;
    color: red;
    font-weight: bold;
    text-align: center;
   }